<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeHollow.FeedReader" version="1.1.5" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.8.9" targetFramework="net461" />
  <package id="ImageLibrary" version="3.0.2" targetFramework="net461" />
  <package id="ImageProcessor" version="2.6.2.25" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net451" />
  <package id="RestSharp" version="106.5.3" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
</packages>