<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeHollow.FeedReader" version="1.1.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.5.1" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net451" />
  <package id="RestSharp" version="106.3.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net451" requireReinstallation="true" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net451" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net451" requireReinstallation="true" />
</packages>